.canvasStyle {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}


header {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    .js-appear.hidden {
        display: none;
    }
    
    .letters {
        display: flex;
        justify-content: center;
        font-size: 45px;
        flex-wrap: wrap;
    }
    .word {
        padding: 0px 8px 8px 8px;
    }

    .name {
        padding-left: 8px;
    }
    
    .js-hide.hidden {
        display: none;
    }
    
    .click {
        cursor: pointer;
        &:hover {
            text-shadow: 1px 1px pink;
        }
    }
    
    .cursive {
        font-family: cursive;
    }
    
    .intro-text {
        font-size: 20px;
    }
    
    .courier {
        font-family: 'Courier New', Courier, monospace;
    }
}

