.nav-link {
    color: black;
    margin: 1px;
}

nav {
    background-color: white;
}

.home-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.nav-link:hover {
    margin: 0px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}


.active {
    border-radius: 5px;
    background-color: pink;
}

@media screen and (min-width: 500px) {
    nav {
            background-color: rgba(255, 255, 255, 0.7);
        }
}
